/* google fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* selector de colores y texto */
:root {
    --main-color: rgb(241, 144, 170);
    --text-color: rgb(145, 107, 71);
    --bg-color: #f1e1e1;
    --big-font: 4rem;
    --h2-font: 2.24rem;
    --p-font: 0.9rem;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    background-color: #f1e1e1;
}

/* selección de texto */
*::selection {
    background: var(--main-color);
    color: #fff;
}

/* el modo activo */
body.active {
    --bg-color: #1e1c2a;
    --text-color: #fff;
}

/* body y botón de modo oscuro */
body {
    color: var(--text-color);
    background: var(--bg-color);
}

#modooscuro {
    font-size: 25px;
    cursor: pointer;
}

/* encabezado */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 18px 100px;
    box-shadow: 0 0.5rem 50rem rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--main-color);
}

/* barra de navegación */
.navbar {
    display: flex;
}

.navbar a {
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar li a{
    text-decoration: none;
}

#menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

/* imagen de presentacion*/
.bg-container {
    background-image: 
    linear-gradient( rgba(0,0,0,0.3), rgba(0,0,0,0.3) ),
    url(../../resources/rogel2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 500px;
    width: 100%;
    background-position: center;
}

#mision {
    background-color: transparent;
}

#mision h1,
#mision p {
    background-color: transparent;
}

/*contacto*/
.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 1.5rem;
}

.contact-box h3 {
    margin-bottom: 1rem;
}

/* redes */
.social {
    display: flex;
    margin-top: 1.5rem;
}

.social i {
    font-size: 20px;
    margin-right: 1rem;
    color: var(--text-color);
}

.social i:hover {
    color: var(--main-color);
}

.contact-box li a {
    color: var(--text-color);
}

.contact-box li a:hover {
    color: var(--main-color);
}

.address {
    display: flex;
    flex-direction: column;
}

.address i {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.address span {
    margin-left: 1rem;
}

/* footer */
.copyright {
    padding: 20px;
    text-align: center;
}

/* contenedor de secciones */
section {
    padding: 50px 10%;
}